<!doctype html>
<html lang="en" ng-app='NarrowItDownApp'>
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
  </head>
<body>

       <div class='container' ng-controller="NarrowItDownController as searchCtrl">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" ng-model="searchCtrl.search" placeholder="search term" class="form-control">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="searchCtrl.searchItems()">Narrow It Down For Me</button>
        </div>
           <br/>




    <!-- found-items should be implemented as a component -->
    <found-items items="searchCtrl.found" on-remove="searchCtrl.remove(index)"></found-items>

       <div class="alert alert-danger" role="alert" ng-show="searchCtrl.found.length===0  && searchCtrl.txt=='show'">
           Nothing found
       </div>

           </div>

</body>
</html>
